<div>
  <%= if(@live_action == :new) do %>
    <.live_component module={VachanWeb.CampaignWizard.NewCampaign} id="new" />
  <% end %>
  <%= if @live_action == :add_content do %>
    <.live_component module={VachanWeb.CampaignWizard.ContentStep} id="step1" />
  <% end %>

  <.button phx-click="next-step" class="ml-2">next</.button>
  <.button phx-click="previous-step" class="ml-2">prev</.button>
</div>
